<div class="container text-center"><br>
<h2>Add a New Genre Please</h2>

<% if @genre.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @genre do |f| %>
    
    <p>Genre Name: <%= f.text_field :name, class: "input-field" %><br><br>
    
    <%= f.submit "Create Grenre", class: "btn btn-outline-dark" %>
<% end %>
</div>