<div class="container text-center"><br>
<h2>Your Profile</h2>

<%= flash[:message] %>
<p><strong>Username:</strong> <u><%= @user.username %></u><br><br>

<%= link_to "Edit Profile", edit_user_path(@user.id) %><br>
<%= button_to "Delete Profile", user_path(@user), method: :delete, class: "btn btn-outline-dark" %>
</div>
