@import "bootstrap";

@import url("https://fonts.googleapis.com/css?family=Baloo+2:400,700&display=swap");

 .field_with_errors {
    padding: 2px;
    background-color: red;
    display: block;
    list-style-type: none;
  } 

  .navbar {
    background-color: #343a40;
    display: block;
}

label {
  padding-left:5px;
  padding-right:5px;
}

.logo-style {
  border-radius: .5em;
}

  .navbar a {
    color: white;
    padding-left:20px;
    padding-right:20px;
  }

  .navbar a:hover {
    background-color: rgb(105, 191, 218);
    color: blue;
  }
  
  .navbar a:active {
    background-color: blue;
  }

  a:hover {
    color: blue;
  }

  .review-index, .review-show {
    text-align: left;
    max-width: 500px;
    margin-left: 10px;
    margin-right: 10px;
  }

.book-index, .book-show {
  text-align: left;
  max-width: 500px;
  margin-left: 10px;
  margin-right: 10px;
} 

.input-field {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

body {
  background-color: #343a40;
  background: image-url("pink-background.jpeg");
  background-size: cover;

  background-attachment: fixed;
  background-repeat: no-repeat;

  min-height: 100%;
  min-height: 100vh;
  position: relative;
}


.login-page {
  text-align: center;
}

a, p, h1, h2, h3, h4, h5, h6, ul, li {
  color: black;
  font-family: "Baloo 2";
}

ul {
  list-style-type: none;
}

.btn {
  border-width: 2px;
}

footer {
  background-color: #343a40;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-copyright {
  color: white;
}
