@import "bootstrap";

@import url("https://fonts.googleapis.com/css?family=Baloo+2:400,700&display=swap");

 .field_with_errors {
    padding: 2px;
    background-color: red;
    display: block;
    list-style-type: none;
    // text-align: center;
  } 

  .navbar {
    // background-color: black;
    // background-color: #292b2c;
    background-color: #343a40;
    // background-color: #90EE90;
    // background-color: #b19cd9;
    /* width: 100%; */
    display: block;
    // border: none;
    /* margin: 0 !important; */
    /* margin-left: 0 !important;
    margin-right: 0 !important; */
}

label {
  padding-left:5px;
  padding-right:5px;
}

.logo-style {
  border-radius: .5em;
}

  .navbar a {
    color: white;
    padding-left:20px;
    padding-right:20px;
  }

  .navbar a:hover {
    //background-color: #ddd;
    background-color: rgb(105, 191, 218);
    color: blue;
  }
  
  .navbar a:active {
    background-color: blue;
    // background-color: rgb(105, 191, 218);
  }

  a:hover {
    // background-color: rgb(105, 191, 218);
    color: blue;
  }

  // a:active {
  //   background-color: green;
  // }

  .review-index, .review-show {
    text-align: left;
    max-width: 500px;
    margin-left: 10px;
    margin-right: 10px;
  }

.book-index, .book-show {
  text-align: left;
  max-width: 500px;
  margin-left: 10px;
  margin-right: 10px;
} 

.input-field {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  // box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

body {
  // background-image: linear-gradient(coral, blue)!important;
  // background-color: black;
  // background-color: #292b2c;
  background-color: #343a40;
  background: image-url('pink-background.jpeg');
  background-size: cover;

  background-attachment: fixed;
  background-repeat: no-repeat;

  min-height: 100%;
  min-height: 100vh;
  position: relative;
}


.login-page {
  text-align: center;
}

.new-song {
  text-align: center;
  // margin-left: 10px;
  // margin-right: 10px;
}

a, p, h1, h2, h3, h4, h5, h6, ul, li {
  // color: #f2f2f2;
  color: black;
  font-family: 'Baloo 2';
}

// h6 {
//   font-weight: 700;
// }

ul {
  list-style-type: none;
}

.btn {
  // background-color: #FFFFFF;
  // border-radius: .5em;
  // border-color: #292b2c;
  // border-color: #343a40;
  border-width: 2px;
}

footer {
  // background-color: black;
  background-color: #343a40;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-copyright {
  color: white;
}
