<div class="container text-center">
<h2>All The Reviews</h2>

<ul>
<% @reviews.each do |review| %>
    <li class="container text-center">
        <%= review.song.name %> - Reviewed by <%= review.user.username %><br>
        <%= link_to review.text, review %> 
    </li>
    <br>
    <% end %>
</ul>
</div>